@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font: var(--link-font-composite);
  color: var(--c2);
}

/*====  VARIABLES ============================ */
:root {
  // Cores escala cinza
  --c1: #F7F7F7;
  --c2: #EDEDED;
  --c3: #DEDEDE;
  --c4: #CCCCCC;
  --c5: #B3B3B3;
  --c6: #9C9C9C;
  --c7: #707070;
  --c8: #595959;
  --c9: #404040;
  --c10: #2E2E2E;
  --c11: #121212;
  --c12: #000000;
  --w: #ffffff;

  //Cores principais
  --p1: #00AAFF;
  --p2: #0B94E4;
  --p3: #0063A6;
  --p4: #003366;
  --p5: #002233;
  --p6: #001722;

  // fonts  
  --logo-font-size: 36px;
  --logo-line-height: 48px;

  --link-font-size: 14px;
  --link-line-height: 32px;


  --title-font-size: 64px;
  --title-line-height: 72px;

  --subtitle-font-size: 24px;
  --subtitle-line-height: 36px;

  --body-font-size: 24px;
  --body-line-height: 36px;

  //Card dos pets
  --cardtitle-font-size: 24px;
  --cardtitle-line-height: 30px;

  --cardtag-font-size: 12px;
  --cardtag-line-height: 20px;

  //Card dos posts
  --post-title-font-size: 32px;
  --post-title-line-height: 40px;

  --post-date-font-size: 18px;
  --post-date-line-height: 24px;

  //Fonts gerais
  --title-font: 'Poppins', sans-serif;
  --body-font: 'Roboto', sans-serif;

  // Font composite variable
  --logo-font-composite: 700 var(--logo-font-size)/var(--logo-line-height) var(--title-font);

  --title-font-composite: 600 var(--title-font-size)/var(--title-line-height) var(--title-font);

  --subtitle-font-composite: 400 var(--subtitle-font-size)/var(--subtitle-line-height) var(--body-font);

  --body-font-composite: 400 var(--body-font-size)/var(--body-line-height) var(--body-font);

  --link-font-composite: 500 var(--link-font-size)/var(--link-line-height) var(--title-font);

  --button-font-composite: 600 var(--link-font-size)/var(--body-line-height) var(--title-font);


  // Card PetAdoption
  --cardtitle-font-composite: 700 var(--cardtitle-font-size)/var(--cardtitle-line-height) var(--body-font);
  --cardtag-font-composite: 400 var(--cardtag-font-size)/var(--cardtag-line-height) var(--body-font);

  // Posts Feature
  --post-title-font-composite: 600 var(--post-title-font-size)/var(--post-title-line-height) var(--title-font);
  --post-date-font-composite: 600 var(--post-date-font-size)/var(--post-date-line-height) var(--title-font);

  // Post Other
  --post-other-title-font-composite: 600 var(--post-date-font-size)/var(--post-date-line-height) var(--title-font);
  --post-other-date-font-composite: 600 var(--cardtag-font-size)/var(--post-date-line-height) var(--title-font);

  // Detail Pet Adoption
  --detail-pet-text-composite: 400 var(--body-font-size)/var(--link-line-height) var(--body-font);

  // Footer Text
  --footer-topic-text-composite: 400 var(--body-font-size)/var(--link-line-height) var(--body-font);
  --footer-links-composite: 400 var(--post-date-font-size)/var(--body-line-height) var(--body-font);

  //Itens de Dashboard

}

/*====  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--c1);
  -webkit-font-smoothing: antialiased;
}

button {
  color: var(--p5);
  font: var(--button-font-composite);
  align-items: center;
  border: none;
  margin-top: 20px !important;
  padding: 16px 32px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: .10);
  text-transform: uppercase !important;
  background: linear-gradient(to bottom, #81CAEE 0%, #00AAFF 100%);
  cursor: pointer;

  &:active {
    color: var(--w);
    background: var(--p1);
  }

  & span {
    font-size: 18px;
  }
}

.logo {
  font: var(--logo-font-composite);
  color: var(--c1);
}

.link_menu {
  position: relative;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--p1);
    transition: width 0.3s ease;
  }

  &:hover {
    transition: color 0.3s ease;
    color: var(--p1);
  }

  &:hover:after,
  &.active:after {
    width: 100%;
  }
}

.title {
  color: var(--c2);
  font: var(--title-font-composite);
}

.title_dashboard {
  color: var(--c9);
  font: var(--post-title-font-composite);
}

.subtitle {
  font: var(--subtitle-font-composite);
}

.text_body {
  margin-top: 36px;
  font: var(--body-font-composite);
  color: var(--c5);
}

.title,
.subtitle {
  -webkit-font-smoothing: auto;
}

.card_title {
  margin-top: 10px;
  font: var(--cardtitle-font-composite);
  color: var(--c3);
}

.card_tag {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  font: var(--cardtag-font-composite);
  color: var(--c3);

  &.top {
    width: 100%;
  }
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1400px) {
  .title {
    font: 600 30px/38px var(--title-font);
  }

  .text_body {
    font: 400 18px/30px var(--body-font);
  }
}

@media(max-width: 1200px) {
  .title {
    font: 600 30px/38px var(--title-font);
  }

  .text_body {
    font: 400 18px/30px var(--body-font);
  }

  button {
    font-size: 14px !important;
  }
}

@media(max-width: 1000px) {
  .title {
    font: 600 40px/52px var(--title-font) !important;
  }
}


@media (max-width: 450px) {
  .title {
    font: 600 36px/48px var(--title-font) !important;
  }

  .text_body {
    font: 400 16px/28px var(--body-font);
  }

  button {
    padding: 10px 20px;
  }
}


/*====  LAYOUT ============================ */
.container {
  margin: 0 auto;
  background-color: var(--c1);
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 220px;
}

textarea {
  width: 100%;
  min-height: 100px;
}


@media (max-width: 1200px) {
  .content {
    padding: 34px 80px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 60px 80px;
  }

}

@media (max-width: 450px) {
  .content {
    padding: 30px 20px;
  }

}

/*====  CKEDITOR ============================ */
.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
  display: flex;
  flex-wrap: wrap !important;
  font-size: 10px;

  .ck-button {
    border: none;
  }
}

// .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
//   // border-color: var(--color-1) !important;
// }

.ck-focused {
  border-color: var(--color-1) !important;
}

.ck.ck-editor__main>.ck-editor__editable {
  min-height: 50vw;
  max-height: 20vw;
}