@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap&family=Roboto:wght@400;500;700&display=swap');


/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font: 600 var(--subtitle-font-size) var(--body-font);
  color: var(--color-4);

  &:hover {
    color: var(--color-2);
  }
}

/*====  VARIABLES ============================ */
:root {
  // colors
  --color-1: #218FB3;
  --color-2: #F5C401;
  --color-3: #181b25;
  --color-4: #EEF5EF;

  //colors test
  --color-5: #1f212e;
  --color-6: #252837;
  --color-7: #FC742A;

  // fonts
  --title-font-size: 1.375rem;
  --title-font-size-mobile: 1.25rem;

  --subtitle-font-size: 0.9rem;
  --subtitle-font-size-mobile: 0.85rem;

  --content-font-size: 0.8rem;
  --content-font-size-mobile: 0.85rem;

  --title-font: 'Poppins', sans-serif;
  // --subtitle-font: '', sans-serif;
  --body-font: 'DM Sans', sans-serif;

}

/*====  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-5);
  background-color: var(--color-4);
  -webkit-font-smoothing: antialiased;
}

main{
  height: 100vh;
}

section {
  padding-top: 40px;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  font-style: bold;
  -webkit-font-smoothing: auto;
}

.subtitle {
  font: 300 var(--subtitle-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
  font-style: italic;
  margin-top: 2px;
}

.date{
  font: 200 var(--content-font-size-mobile) var(--body-font);
}

.text {
  font: 200 var(--content-font-size-mobile) var(--body-font);
  margin-top: 5px;
  text-align: justify;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: 600;
}

p {
  font-size: var(--content-font-size);
  font-weight: 100;
}


/*====  LAYOUT ============================ */
.container {
  margin: auto;
  max-width: 1200px;
}

.content {
  margin: 0 auto;
  padding: 0px 10px;
}

// Cards em Posts
.card-title {
  font-size: 18px;
  font-weight: 600;
}

.date {
  font-size: 12px;
}

.inputType {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;

  input {
    padding: 5px;
    font-size: 12px;
  }
}

label {
  font-size: 12px;
}

input,
select,
textarea,
option {
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 30px;
  font-size: 10px;
  outline: none;
}

textarea {
  width: 100%;
  min-height: 100px;
}

li,
option {
  text-transform: capitalize;
}

button {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--color-1);
  color: var(--color-4);
  border: none;
  box-shadow: 1px 1px 1px rgba($color: #000, $alpha: 0.3);

  &:hover,
  &:focus {
    transition: 500ms ease-in-out;
    border: 1px solid var(--color-1);
    box-shadow: none;
    color: var(--color-3);
    background-color: var(--color-4);
  }
}

/*====  CKEDITOR ============================ */
.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
  display: flex;
  flex-wrap: wrap !important;
  font-size: 10px;

  .ck-button {
    border: none;
  }
}

// .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
//   // border-color: var(--color-1) !important;
// }

.ck-focused {
  border-color: var(--color-1) !important;
}

.ck.ck-editor__main>.ck-editor__editable {
  min-height: 50vw;
  max-height: 20vw;
}

/*====  MOBILE ============================ */
@media (max-width: 768px) {
  .title {
    font-size: var(--title-font-size-mobile);
  }

  .subtitle {
    font-size: var(--subtitle-font-size-mobile);
  }

  .text {
    font-size: var(--content-font-size-mobile);
  }

  .menu-mobile {
    font-size: var(--content-font-size-mobile);
  }
}